## Import data

สมาชิกภายในกลุ่ม
*   นายวิทยา พิมพ์ตา 6310401157
*   นายศุภกิจ ชาวประเสริฐ 6310404059
*   นายกฤษดา เครือเสนา 6310406256

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/cow.csv')

In [ ]:
df

,surgery,age,hospital_number,temperature,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,nasogastric_reflux_ph,rectal_exam_feces,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome Class,surgical_lesion,lesion
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,NaN,decreased,distend_large,45.0,8.4,NaN,NaN,died,no,11300
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,NaN,absent,other,50.0,85.0,cloudy,2.0,euthanized,no,2208
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,NaN,normal,normal,33.0,6.7,NaN,NaN,lived,no,0
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,5.0,decreased,NaN,48.0,7.2,serosanguious,5.3,died,yes,2208
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,NaN,NaN,NaN,74.0,7.4,NaN,NaN,died,no,4300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,...,NaN,NaN,distend_large,55.0,65.0,NaN,NaN,euthanized,no,3205
295,no,adult,527702,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,NaN,absent,distend_small,44.0,NaN,serosanguious,3.3,euthanized,yes,2208
296,yes,adult,529386,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,NaN,decreased,distend_large,60.0,6.8,NaN,NaN,died,yes,3205
297,yes,adult,530612,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,NaN,absent,distend_small,50.0,6.0,serosanguious,3.4,lived,yes,2208
298,yes,adult,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,NaN,absent,normal,36.0,62.0,clear,1.0,euthanized,no,6112

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery                299 non-null    object
 1   age                    299 non-null    object
 2   hospital_number        299 non-null    int64
 3   temperature            239 non-null    float64
 4   pulse                  275 non-null    float64
 5   respiratory_rate       241 non-null    float64
 6   temp_of_extremities    243 non-null    object
 7   peripheral_pulse       230 non-null    object
 8   mucous_membrane        252 non-null    object
 9   capillary_refill_time  267 non-null    object
 10  pain                   244 non-null    object
 11  peristalsis            255 non-null    object
 12  abdominal_distention   243 non-null    object
 13  nasogastric_tube       195 non-null    object
 14  nasogastric_reflux     193 non-null    object
 15  nasogastric_reflux_ph  53 non-null     float64
 16  rectal_exam_feces      197 non-null    object
 17  abdomen                181 non-null    object
 18  packed_cell_volume     270 non-null    float64
 19  total_protein          266 non-null    float64
 20  abdomo_appearance      134 non-null    object
 21  abdomo_protein         101 non-null    float64
 22  outcome Class          299 non-null    object
 23  surgical_lesion        299 non-null    object
 24  lesion                 299 non-null    int64
dtypes: float64(7), int64(2), object(16)
memory usage: 58.5+ KB

## Clean data

### Drop hospital number column

In [ ]:
df = df.drop(columns=['hospital_number'], axis=1)
df

,surgery,age,temperature,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,pain,...,nasogastric_reflux_ph,rectal_exam_feces,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome Class,surgical_lesion,lesion
0,no,adult,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,extreme_pain,...,NaN,decreased,distend_large,45.0,8.4,NaN,NaN,died,no,11300
1,yes,adult,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,mild_pain,...,NaN,absent,other,50.0,85.0,cloudy,2.0,euthanized,no,2208
2,no,adult,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,mild_pain,...,NaN,normal,normal,33.0,6.7,NaN,NaN,lived,no,0
3,yes,young,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,depressed,...,5.0,decreased,NaN,48.0,7.2,serosanguious,5.3,died,yes,2208
4,no,adult,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,NaN,...,NaN,NaN,NaN,74.0,7.4,NaN,NaN,died,no,4300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,depressed,...,NaN,NaN,distend_large,55.0,65.0,NaN,NaN,euthanized,no,3205
295,no,adult,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,severe_pain,...,NaN,absent,distend_small,44.0,NaN,serosanguious,3.3,euthanized,yes,2208
296,yes,adult,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,severe_pain,...,NaN,decreased,distend_large,60.0,6.8,NaN,NaN,died,yes,3205
297,yes,adult,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,mild_pain,...,NaN,absent,distend_small,50.0,6.0,serosanguious,3.4,lived,yes,2208
298,yes,adult,37.2,40.0,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,absent,normal,36.0,62.0,clear,1.0,euthanized,no,6112

### Finding numeric columns

In [ ]:
num_cols = df.select_dtypes(include=["float", "int"]).columns
num_df = df[num_cols]

num_df

,temperature,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion
0,38.5,66.0,28.0,NaN,45.0,8.4,NaN,11300
1,39.2,88.0,20.0,NaN,50.0,85.0,2.0,2208
2,38.3,40.0,24.0,NaN,33.0,6.7,NaN,0
3,39.1,164.0,84.0,5.0,48.0,7.2,5.3,2208
4,37.3,104.0,35.0,NaN,74.0,7.4,NaN,4300
...,...,...,...,...,...,...,...,...
294,NaN,120.0,70.0,NaN,55.0,65.0,NaN,3205
295,37.2,72.0,24.0,NaN,44.0,NaN,3.3,2208
296,37.5,72.0,30.0,NaN,60.0,6.8,NaN,3205
297,36.5,100.0,24.0,NaN,50.0,6.0,3.4,2208
298,37.2,40.0,20.0,NaN,36.0,62.0,1.0,6112

### Create X set

In [ ]:
x = df.drop(["outcome Class"], axis=1)
x

,surgery,age,temperature,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,pain,...,nasogastric_reflux,nasogastric_reflux_ph,rectal_exam_feces,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion
0,no,adult,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,extreme_pain,...,NaN,NaN,decreased,distend_large,45.0,8.4,NaN,NaN,no,11300
1,yes,adult,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,mild_pain,...,NaN,NaN,absent,other,50.0,85.0,cloudy,2.0,no,2208
2,no,adult,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,mild_pain,...,NaN,NaN,normal,normal,33.0,6.7,NaN,NaN,no,0
3,yes,young,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,depressed,...,less_1_liter,5.0,decreased,NaN,48.0,7.2,serosanguious,5.3,yes,2208
4,no,adult,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,NaN,...,NaN,NaN,NaN,NaN,74.0,7.4,NaN,NaN,no,4300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,depressed,...,NaN,NaN,NaN,distend_large,55.0,65.0,NaN,NaN,no,3205
295,no,adult,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,severe_pain,...,none,NaN,absent,distend_small,44.0,NaN,serosanguious,3.3,yes,2208
296,yes,adult,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,severe_pain,...,none,NaN,decreased,distend_large,60.0,6.8,NaN,NaN,yes,3205
297,yes,adult,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,mild_pain,...,none,NaN,absent,distend_small,50.0,6.0,serosanguious,3.4,yes,2208
298,yes,adult,37.2,40.0,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,absent,normal,36.0,62.0,clear,1.0,no,6112

### Create Y set

In [ ]:
y = df["outcome Class"]
y

0            died
1      euthanized
2           lived
3            died
4            died
          ...
294    euthanized
295    euthanized
296          died
297         lived
298    euthanized
Name: outcome Class, Length: 299, dtype: object

### Fillna with 0 in numeric columns

In [ ]:
x[num_cols]=x[num_cols].fillna(0)
x[num_cols]

,temperature,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion
0,38.5,66.0,28.0,0.0,45.0,8.4,0.0,11300
1,39.2,88.0,20.0,0.0,50.0,85.0,2.0,2208
2,38.3,40.0,24.0,0.0,33.0,6.7,0.0,0
3,39.1,164.0,84.0,5.0,48.0,7.2,5.3,2208
4,37.3,104.0,35.0,0.0,74.0,7.4,0.0,4300
...,...,...,...,...,...,...,...,...
294,0.0,120.0,70.0,0.0,55.0,65.0,0.0,3205
295,37.2,72.0,24.0,0.0,44.0,0.0,3.3,2208
296,37.5,72.0,30.0,0.0,60.0,6.8,0.0,3205
297,36.5,100.0,24.0,0.0,50.0,6.0,3.4,2208
298,37.2,40.0,20.0,0.0,36.0,62.0,1.0,6112

### Fillna with missing in nominal columns

In [ ]:
x=x.fillna("missing")
x

,surgery,age,temperature,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,pain,...,nasogastric_reflux,nasogastric_reflux_ph,rectal_exam_feces,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion
0,no,adult,38.5,66.0,28.0,cool,reduced,missing,more_3_sec,extreme_pain,...,missing,0.0,decreased,distend_large,45.0,8.4,missing,0.0,no,11300
1,yes,adult,39.2,88.0,20.0,missing,missing,pale_cyanotic,less_3_sec,mild_pain,...,missing,0.0,absent,other,50.0,85.0,cloudy,2.0,no,2208
2,no,adult,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,mild_pain,...,missing,0.0,normal,normal,33.0,6.7,missing,0.0,no,0
3,yes,young,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,depressed,...,less_1_liter,5.0,decreased,missing,48.0,7.2,serosanguious,5.3,yes,2208
4,no,adult,37.3,104.0,35.0,missing,missing,dark_cyanotic,more_3_sec,missing,...,missing,0.0,missing,missing,74.0,7.4,missing,0.0,no,4300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,0.0,120.0,70.0,cold,missing,pale_cyanotic,more_3_sec,depressed,...,missing,0.0,missing,distend_large,55.0,65.0,missing,0.0,no,3205
295,no,adult,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,severe_pain,...,none,0.0,absent,distend_small,44.0,0.0,serosanguious,3.3,yes,2208
296,yes,adult,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,severe_pain,...,none,0.0,decreased,distend_large,60.0,6.8,missing,0.0,yes,3205
297,yes,adult,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,mild_pain,...,none,0.0,absent,distend_small,50.0,6.0,serosanguious,3.4,yes,2208
298,yes,adult,37.2,40.0,20.0,missing,missing,missing,missing,missing,...,missing,0.0,absent,normal,36.0,62.0,clear,1.0,no,6112

## Pre-processing data

### Standard Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

col_scaler_mapping = {}
for col in num_cols:
    scaler = StandardScaler()
    x[[col]] = scaler.fit_transform(x[[col]])
    col_scaler_mapping[col] = scaler

### Encoding labels

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
for col in x.columns:
  if(col not in num_cols):
    x[col]=le.fit_transform(x[col])
    print(le.classes_)

y=le.fit_transform(y)
print(le.classes_)

['no' 'yes']
['adult' 'young']
['cold' 'cool' 'missing' 'normal' 'warm']
['absent' 'increased' 'missing' 'normal' 'reduced']
['bright_pink' 'bright_red' 'dark_cyanotic' 'missing' 'normal_pink'
 'pale_cyanotic' 'pale_pink']
['3' 'less_3_sec' 'missing' 'more_3_sec']
['alert' 'depressed' 'extreme_pain' 'mild_pain' 'missing' 'severe_pain']
['absent' 'hypermotile' 'hypomotile' 'missing' 'normal']
['missing' 'moderate' 'none' 'severe' 'slight']
['missing' 'none' 'significant' 'slight']
['less_1_liter' 'missing' 'more_1_liter' 'none']
['absent' 'decreased' 'increased' 'missing' 'normal']
['distend_large' 'distend_small' 'firm' 'missing' 'normal' 'other']
['clear' 'cloudy' 'missing' 'serosanguious']
['no' 'yes']
['died' 'euthanized' 'lived']

In [ ]:
x

,surgery,age,temperature,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,pain,...,nasogastric_reflux,nasogastric_reflux_ph,rectal_exam_feces,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion
0,0,0,0.522244,-0.006553,0.173369,1,4,3,3,2,...,1,-0.421713,1,0,0.188334,-0.491246,2,-0.559978,0,1.415021
1,1,0,0.567994,0.646551,-0.228860,2,2,5,1,3,...,1,-0.421713,0,5,0.484090,2.360483,1,0.530793,0,-0.268864
2,0,0,0.509173,-0.778403,-0.027746,3,3,6,1,3,...,1,-0.421713,4,4,-0.521480,-0.554535,2,-0.559978,0,-0.677797
3,1,1,0.561458,2.902727,2.988974,0,3,2,3,1,...,0,2.105183,1,3,0.365788,-0.535921,3,2.330566,1,-0.268864
4,0,0,0.443816,1.121535,0.525320,2,2,2,3,4,...,1,-0.421713,3,3,1.903718,-0.528475,2,-0.559978,0,0.118585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1,0,-1.994001,1.596520,2.285073,0,2,5,3,1,...,1,-0.421713,3,0,0.779846,1.615906,2,-0.559978,0,-0.084214
295,0,0,0.437280,0.171566,-0.027746,1,1,5,3,5,...,3,-0.421713,0,1,0.129183,-0.803969,3,1.239795,1,-0.268864
296,1,0,0.456887,0.171566,0.273926,0,4,5,1,5,...,3,-0.421713,1,0,1.075602,-0.550812,2,-0.559978,1,-0.084214
297,1,0,0.391530,1.002789,-0.027746,1,4,6,1,3,...,3,-0.421713,0,1,0.484090,-0.580596,3,1.294333,1,-0.268864
298,1,0,0.437280,-0.778403,-0.228860,2,2,3,2,4,...,1,-0.421713,0,4,-0.344026,1.504219,0,-0.014592,0,0.454177

In [ ]:
y

array([0, 1, 2, 0, 0, 2, 2, 0, 1, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 0, 1, 2, 2, 2, 1, 1, 2, 2, 0, 0, 2, 2, 1,
       1, 0, 2, 2, 0, 0, 2, 0, 2, 2, 1, 0, 2, 0, 0, 0, 2, 2, 0, 1, 2, 2,
       2, 2, 2, 2, 1, 2, 0, 0, 0, 1, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 1,
       2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 1, 0,
       0, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 1, 2, 0, 1, 2, 2, 2, 1, 2, 0, 0,
       2, 0, 0, 0, 2, 2, 2, 2, 0, 0, 2, 1, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 0, 2, 1, 2, 1, 2, 2, 2, 1, 2, 0, 2, 0, 0, 2, 2,
       0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 0, 2,
       2, 2, 0, 1, 2, 2, 1, 2, 0, 1, 2, 0, 0, 2, 2, 2, 2, 2, 2, 1, 2, 1,
       2, 2, 2, 2, 2, 0, 2, 1, 2, 2, 0, 2, 2, 2, 0, 2, 2, 1, 1, 0, 2, 0,
       2, 2, 0, 2, 0, 2, 2, 1, 0, 0, 2, 2, 0, 1, 0, 2, 0, 2, 2, 2, 0, 2,
       1, 2, 2, 2, 2, 0, 2, 2, 0, 1, 0, 1, 2, 2, 2, 2, 0, 0, 2, 2, 2, 1,
       2, 2, 2, 2, 0, 0, 1, 2, 1, 1, 0, 2, 1])

## Split data

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

## Feature selection

### Chi Square

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X_train_nominals = X_train.loc[:, ~X_train.columns.isin(num_cols)]
chi2_selector = SelectKBest(chi2, k=8)
chi2_selector.fit_transform(X_train_nominals, y_train)
chi2_top_features = X_train_nominals.columns[chi2_selector.get_support()]
scores = chi2_selector.scores_

chi2_top_features

Index(['age', 'temp_of_extremities', 'capillary_refill_time', 'pain',
       'rectal_exam_feces', 'abdomen', 'abdomo_appearance', 'surgical_lesion'],
      dtype='object')

### LDA (Linear Discriminant Analysis)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.datasets import load_iris

# Initialize and fit the LDA model
lda = LinearDiscriminantAnalysis(n_components=1)
lda.fit(X_train[num_cols], y_train)

# Transform the data using the LDA model
X_train_lda = lda.transform(X_train[num_cols])
X_test_lda = lda.transform(X_test[num_cols])

print("Train column: ", len(X_train_lda[0]))
print("Test column: ", len(X_test_lda[0]))

Train column:  1
Test column:  1

### RFECV (Recursive feature elimination with cross-validation) using Random Forest as estimator

In [ ]:
from sklearn import ensemble
from sklearn.feature_selection import RFECV
from sklearn.metrics import classification_report

clf = ensemble.RandomForestClassifier()

rfe = RFECV(estimator=clf)
rfe.fit(X_train, y_train)

rfecv_top_features = X_train.columns[rfe.support_]

print(rfecv_top_features)

Index(['pulse', 'packed_cell_volume', 'total_protein', 'lesion '], dtype='object')

## Models

### Logistic Regression using Chi square as feature selection method

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

log_reg = LogisticRegression()
model = log_reg.fit(X_train[chi2_top_features], y_train)
y_true = y_test
y_pred = model.predict(X_test[chi2_top_features])

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.33      0.31      0.32        16
           1       0.50      0.08      0.13        13
           2       0.63      0.87      0.73        31

    accuracy                           0.55        60
   macro avg       0.49      0.42      0.40        60
weighted avg       0.52      0.55      0.49        60

### Logistic Regression using LDA  as feature selection method

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

log_reg = LogisticRegression()
model = log_reg.fit(X_train_lda, y_train)
y_true = y_test
y_pred = model.predict(X_test_lda)

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.50      0.31      0.38        16
           1       0.00      0.00      0.00        13
           2       0.56      0.90      0.69        31

    accuracy                           0.55        60
   macro avg       0.35      0.41      0.36        60
weighted avg       0.42      0.55      0.46        60

### Decision Tree using RFECV as feature selection method

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

dtc = DecisionTreeClassifier()
model = dtc.fit(X_train[rfecv_top_features],y_train)
y_true = y_test
y_pred = model.predict(X_test[rfecv_top_features])

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.53      0.56      0.55        16
           1       0.50      0.38      0.43        13
           2       0.73      0.77      0.75        31

    accuracy                           0.63        60
   macro avg       0.59      0.57      0.58        60
weighted avg       0.63      0.63      0.63        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train[rfecv_top_features], y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.75       0.66666667 0.70833333 0.75       0.75       0.58333333
 0.75       0.70833333 0.45833333 0.60869565]
Mean:  0.6733695652173913

### Random Forest using RFECV as feature selection method

In [ ]:
from sklearn import ensemble
from sklearn.metrics import classification_report

clf = ensemble.RandomForestClassifier(100)
model = clf.fit(X_train[rfecv_top_features], y_train)

y_true = y_test
y_pred = model.predict(X_test[rfecv_top_features])

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.53      0.50      0.52        16
           1       0.57      0.31      0.40        13
           2       0.68      0.84      0.75        31

    accuracy                           0.63        60
   macro avg       0.60      0.55      0.56        60
weighted avg       0.62      0.63      0.61        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train[rfecv_top_features], y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.66666667 0.79166667 0.66666667 0.83333333 0.79166667 0.66666667
 0.70833333 0.70833333 0.58333333 0.65217391]
Mean:  0.7068840579710145

### AdaBoost using RFECV as feature selection method and using Decision Tree as estimator

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

ada = AdaBoostClassifier(DecisionTreeClassifier())
model = ada.fit(X_train[rfecv_top_features], y_train)
y_true = y_test
y_pred = model.predict(X_test[rfecv_top_features])

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.47      0.44      0.45        16
           1       0.43      0.46      0.44        13
           2       0.77      0.77      0.77        31

    accuracy                           0.62        60
   macro avg       0.56      0.56      0.56        60
weighted avg       0.62      0.62      0.62        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train[rfecv_top_features], y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.5        0.66666667 0.70833333 0.66666667 0.70833333 0.58333333
 0.66666667 0.70833333 0.5        0.65217391]
Mean:  0.6360507246376812

### Logistic Regression without feature selection

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

log_reg = LogisticRegression()
model = log_reg.fit(X_train, y_train)
y_true = y_test
y_pred = model.predict(X_test)

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.53      0.50      0.52        16
           1       0.50      0.23      0.32        13
           2       0.59      0.74      0.66        31

    accuracy                           0.57        60
   macro avg       0.54      0.49      0.50        60
weighted avg       0.56      0.57      0.55        60

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Decision Tree without feature selection

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

dtc = DecisionTreeClassifier()
model = dtc.fit(X_train,y_train)
y_true = y_test
y_pred = model.predict(X_test)

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.67      0.50      0.57        16
           1       0.58      0.54      0.56        13
           2       0.69      0.81      0.75        31

    accuracy                           0.67        60
   macro avg       0.65      0.61      0.63        60
weighted avg       0.66      0.67      0.66        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train, y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.625      0.70833333 0.41666667 0.75       0.54166667 0.66666667
 0.66666667 0.5        0.5        0.60869565]
Mean:  0.5983695652173913

### Random Forest without feature selection

In [ ]:
from sklearn import ensemble
from sklearn.metrics import classification_report

clf = ensemble.RandomForestClassifier(100)
model = clf.fit(X_train, y_train)

y_true = y_test
y_pred = model.predict(X_test)

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.70      0.44      0.54        16
           1       0.75      0.23      0.35        13
           2       0.63      0.94      0.75        31

    accuracy                           0.65        60
   macro avg       0.69      0.53      0.55        60
weighted avg       0.67      0.65      0.61        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train, y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.79166667 0.83333333 0.70833333 0.75       0.70833333 0.58333333
 0.79166667 0.58333333 0.5        0.73913043]
Mean:  0.6989130434782609

### AdaBoost without feature selection and using Decision Tree as estimator

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

ada = AdaBoostClassifier(DecisionTreeClassifier())
model = ada.fit(X_train, y_train)
y_true = y_test
y_pred = model.predict(X_test)

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.64      0.56      0.60        16
           1       0.60      0.69      0.64        13
           2       0.74      0.74      0.74        31

    accuracy                           0.68        60
   macro avg       0.66      0.67      0.66        60
weighted avg       0.68      0.68      0.68        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train, y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.66666667 0.79166667 0.45833333 0.75       0.5        0.66666667
 0.83333333 0.54166667 0.54166667 0.56521739]
Mean:  0.6315217391304347

### AdaBoost using RFECV as feature selection method and using Random Forest as estimator

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

ada = AdaBoostClassifier(RandomForestClassifier())
model = ada.fit(X_train[rfecv_top_features], y_train)
y_true = y_test
y_pred = model.predict(X_test[rfecv_top_features])

print(classification_report(y_true, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.50      0.44      0.47        16
           1       0.60      0.23      0.33        13
           2       0.66      0.87      0.75        31

    accuracy                           0.62        60
   macro avg       0.59      0.51      0.52        60
weighted avg       0.60      0.62      0.58        60

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train[rfecv_top_features], y_train, cv=10)
print(scores)
print("Mean: ", np.mean(scores))

[0.75       0.75       0.70833333 0.79166667 0.75       0.66666667
 0.70833333 0.70833333 0.54166667 0.56521739]
Mean:  0.6940217391304347